section.shipment{
  .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    .left-column{
      img{
        width: 100%;
      }
    }
    .right-column{
      background-color: #000;
      color : #fff;
      .title{
        font-size: 45px;
        margin-bottom: 30px;
      }
      .box {
        margin: 20px  50px ;
        border : 1px solid #fff;
        padding: 20px 30px ;
        display:flex;
        align-items: center;
        button {
          padding: 20px;
          background-color: #ff6600;
          color : #fff;
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (max-width:768px){
  section.shipment{
    .row {
      grid-template-columns: 1fr !important ;
    }
  }
}