.wishlist-page{
  .row{
    max-width: 1200px;
    margin:  0 auto;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

@media screen and (max-width:768px) {
  .wishlist-page {
    .rpw{
      grid-template-columns: 1fr; 
    }
  }
}