nav{
  padding: 30px 0 ;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-column{
      display: flex;
      .brand{
        display: flex;
      }
      .links {
        ul {
          display: inline-flex ;
          gap: 15px;
        }
      }
    }
    .right-column{
      display: flex;
      gap: 15px;
    }
  }
}