nav{
  padding: 30px 0 ;
  max-width: 1400px;
  margin:  0 auto;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-column{
      display: flex;
      align-items: center;
      .brand{
        display: flex;
        margin-right: 15px;
        background-color: #000;
        color : #fff;
        padding: 10px 15px;
        &:hover{
          background-color: #ff6600;
        }
      }
      .links {
        ul {
          display: inline-flex ;
          align-items: center;
          // gap: 15px;
          padding:  0 20px;
          li{

            padding: 10px 15px;
          }
          li:hover{
            background-color: #ff6600;
            color : #fff;
          }
        }
      }
    }
    .right-column{
      display: flex;
      gap: 15px;
      .social{
        i{
          margin-right: 6px;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  nav{
    .left-column{
      .links{
        display: none;
      }
    }
  }
}