.commercial-box{
  .text{
    margin-bottom: 15px;
  }
  button{
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #666;
  }
  button:hover{
    background-color: #ff6600;
    color : #fff;
  }
}