section.add{
  padding: 40px 0 ;
  .container{
    form{
      max-width: 600px;
      margin:  0 auto;
      background-color: #f9f9f9;
      .input-group{
        input{
          width: 100%;
          border:1px solid #dcdecd;
          border-radius: 6px;
          padding: 10px 15px ;
          margin-bottom: 15px;
          outline: none;
        }
      }
      button {
        margin-top: 20px;
        padding: 15px 25px;
        background-color: teal;
        color : #fff;
        border: none;
        &:hover{
          background: linear-gradient(to right, teal 0% , teal 50% , #191919 50% , #191919 100% );
        }
      }
    }
  }
}

@media screen and (max-width:768px){
  section.add{
    form {
      padding: 0 1rem;
    }
  }
}